{{define "bottom"}}
</main>
<footer>
    <ul>
        <li><a href="https://twiter.com/jdav892">Twitter</a></li>
        <li><a href="https://github.com/jdav892">Github</a></li>
    </ul>
</footer>
</body>
</html>
{{end}}
